/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0e0;
}

/* NAVBAR */
nav {
    background: #202237;
    color: rgb(245, 195, 195);
    padding: 15px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: rgb(152, 243, 246);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f5a8b0;
}

/* HOME PAGE */
.hero {
    padding: 60px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.hero h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(105, 164, 216);
    
}

/* ABOUT PAGE */
.about-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.about-img {
     float:inline-start; 
    width: 90px;
    margin-right: 20px;
    border-radius: 100px;
}

/* SKILLS PAGE */
.skills-section {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.skill-cards {
    display:inline-flex;
    gap: 10px;
}

.card {
    background: rgb(210, 243, 252);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    width: 40%;
    height: 40%;
}

/* CONTACT PAGE */
.contact-form {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #555;
}
